<!DOCTYPE html>
<html>
  <head>
    <title>Maptorio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
      <%= render "partials/navbar" %>
      <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
