<!DOCTYPE html>
<html>
  <head>
    <title>Maptorio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if params["action"] == "show" %>
      <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.20/cytoscape.min.js' %>
      <% end %>
    
  </head>

  <body>
      <%= render "partials/navbar" %>
      <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
